@page

@model SumOfDigitsViewModel
@using (Html.BeginForm("SumOfDigits", "Home", FormMethod.Post)){
    
    @Html.EditorFor(x => x.IP)

    <div style="margin-top: 6px;">
        @Html.DisplayFor(x => x.Result)
    </div>
    
    <input type="submit" value="Find" />
}
